body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  .content {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    
  }
  
  p {
    text-align: justify;
    margin: 15px 0;
  }
  
  .bet {
    float: right;
    border: 1px solid #ccc;
    padding: 5px;
    width: 20%;
  }
  
  .bet img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .caption {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    text-align: center;
    color: #666;
  }